
<div class="panel">
    <form [formGroup]="userForm">
  
      <h1>User Details</h1>
      <hr>
      <div>
   
          <div>
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" formControlName="firstname">
            <app-error-messages class="error-message" [control]="userForm.get('firstname')!"></app-error-messages>         
          </div>
          <div>
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" formControlName="lastname">
            <app-error-messages class="error-message" [control]="userForm.get('lastname')!"></app-error-messages>         
          </div>
          <div>
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">
            <app-error-messages class="error-message" [control]="userForm.get('email')!"></app-error-messages>
          </div>
          
          <div>
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password">
            <app-error-messages class="error-message" [control]="userForm.get('password')!"></app-error-messages>
          </div>

          <div>
            <label for="confirmPassword">ConfirmPassword:</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword">
            <app-error-messages class="error-message" [control]="userForm.get('confirmPassword')!"></app-error-messages>
          </div>

          <button type="submit" [disabled]="!userForm.valid">Submit</button>
      </div>
    </form>
    <button (click)="next()">Go To Next Page</button>
  </div>

