<div class="panel">
  <form [formGroup]="userForm">

    <h1>User Details</h1>
    <hr>
    <div>
      <div>
        <label for="username">User Name:</label>
        <input type="text" id="username" formControlName="username">
        <app-error-messages
        class="error-message" [control]="userForm.get('username')!" [validationMessage]="usernameValidationMessage"></app-error-messages>

      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
        <app-error-messages class="error-message" [control]="userForm.get('email')!"></app-error-messages> 
      </div>
      <div class="gender">
        <label>Gender:</label>
        <div>
          <label>
            <input type="radio" formControlName="gender" value="male"> Male
          </label>
          <label>
            <input type="radio" formControlName="gender" value="female"> Female
          </label>
          <label>
            <input type="radio" formControlName="gender" value="other"> Other
          </label>
          <app-error-messages class="error-message" [control]="userForm.get('gender')!"></app-error-messages>
        </div>
      </div>
      <div>
        <label for="age">Age:</label>
        <input type="number" id="age" formControlName="age">
        <app-error-messages class="error-message" [control]="userForm.get('age')!"></app-error-messages>
      </div>

      <div>
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" formControlName="startDate">
        <app-error-messages class="error-message" [control]="userForm.get('startDate')!"></app-error-messages>
      </div>

      <div>
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" formControlName="endDate">
        <app-error-messages class="error-message" [control]="userForm.get('endDate')!" ></app-error-messages>
      </div>


      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
        <app-error-messages class="error-message" [control]="userForm.get('password')!"></app-error-messages>
      </div>

      <div>
        <label for="confirmPassword">ConfirmPassword:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword">
        <app-error-messages class="error-message" [control]="userForm.get('confirmPassword')!">

          <div *ngIf="userForm.get('confirmPassword')?.hasError('passwordMatch')" class="password-match-message"></div>
        </app-error-messages>
        
      </div>

      <button type="submit" (click)="onSubmit()">Submit</button>
    </div>
  </form>
 
</div>