.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 300px;
    margin: 0 auto; 
    transform: translate(0, 4rem);
   
  }
 
  .panel label{
    font-weight: bold;
  }
  .panel h1{
    text-align: center;
  }
  .panel label {
    width: 100px; 
    display: inline-block;
  }
  
  .panel input {
    width: 100%; 
    padding: 12px;
    border-radius: 12px ;
    border: 0.2px solid grey;
  }
  
  .panel button {
   
    padding: 12px;
    background-color: #007bff;

    border-radius: 12px;
    color: #ffffff;
    border: none;
    margin-top: 8px;
    

    cursor: pointer;
  }
  .panel button:disabled {
    background-color: grey; 
    font-weight: bolder;
    cursor: not-allowed;
  }
  
  .error-message {
    color: red;
  }
  